<div class="box">
  <div class="box--title">Add {{unitName}}</div>
  <div class="box--content">
    <form action="{{postPath}}" method="POST">
      <input type="text" name="name" id="name" placeholder="Name">
      <input type="submit" value="Add New {{unitName}}" method="post">
    </form>
  </div>
</div>
