<section class="container">
  <div class="row">
    {{#each kingdoms as |kdm|}}
      <div class="col-xs-4">
        <h4>{{kdm}}</h4>
        <h6>{{ "number of castles?!" }}</h6>
      </div>
    {{/each}}
  </div>
</secion>
