<form class="col-xs-6" method="post" action="{{path}}">
  <h3>Create a new {{type}}</h3>
  <section class="form-group">
    <label for="name">Name:</label>
    <input type="text" name="name">
  </section>
  <button type="submit" class="btn btn-default">Create</button>
</form>
