<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Digital Kingdom</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
  </head>
  <body>
    <div id="main-div">
    <h1 id="main-header">Digital Kingdom</h1>

    {{{body}}}

    </div>
  </body>
</html>
