<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Game of Thrones</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="icon" type="image/png" href="../../public/images/GoT.png">
</head>

<body>

  <h1><u>Westeros Kingdoms</u></h1>
  <br>
  {{{body}}}

</body>

</html>
