<!DOCTYPE html>
<html>
<head>
  <title>Glorious Kingdoms</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  
  <main>
    <h1>
      Lay Thine Eyes Upon<br>
      Our Glorious Kingdoms<br>
      and Tremble with Envy, Peasant
    </h1>

    {{{body}}}

  </main>

</body>
</html>
