<div class="box">
  <div class="box--title">{{liegeInfo.name}}</div>
  <div class="box--content">

      <div>
        <h3>Vassals</h3>
      </div>
      {{#each liegeInfo.vassals as |vassal|}}
        <div class="animal">
            {{vassal}}
        </div>
      {{/each}}

  </div>
</div>