<div class="box">
  <div class="box--title">Species</div>
  <div class="box--content">
    {{#each allSpecies as |species|}}
      <div class="animal">
        <a href="/species/{{species}}">
          {{species}}
        </a>
      </div>
    {{/each}}
  </div>
</div>

<div class="box">
  <div class="box--title">Add Species</div>
  <div class="box--content">
    <form action="/animals" method="POST">
      <input type="text" name="name" id="name" placeholder="Name">
      <input type="submit" value="Add New Species" method="post">
    </form>
  </div>
</div>
