<h1> Castle {{name}} </h1>

<div id="leiges">
	{{#if amount}}
		<h3> Leiges: {{amount}} </h3>
	{{else}}
		<h3> No Leiges. How about you create one? </h3>
	{{/if}}

	<ul>
		{{#each leiges as |l|}}
			<li><a href="#"> {{l}} </a></li>
		{{/each}}
	</ul>
</div>

<div id="create">
	<form>
		<ul>
			<li>
				<input type="text">
			</li>
			<li>
				<input type="submit">
			</li>
		</ul>
	</form>
</div>