<section class="container">
  <div class="row">
    <h1>Welcome to the castle of {{castle.name}}!</h1>
    {{#each castle.lieges as |liege|}}
      <div>{{liege.name}}</div>
      <h3>Vassals</h3>
      {{#each liege.vassals as |vassal|}}
        <div>{{vassal.name}}</div>
      {{/each}}
    {{/each}}
  </div>
  </secion>
