{{name}}

<ul class="liegeList">
  {{#each liegeName}}
<a href = "http://localhost:3000/castle/{{liegeName}}">{{liegeName}}<br></br></a>
  {{/each}}
</ul>
<a href = "http://localhost:3000/">Go Back To the main kingdom screen<br></br></a>
some other plain text here
