<h1> Amount of Kingdoms: {{amount}} </h1>

<div id="kingdoms">
<h3> Kingdoms </h3>
	<ul>
		{{#each kingdoms as |k|}}
			<a href="/kingdom/{{k.name}}"><li>{{k.name}}</li></a>
		{{/each}}
	</ul>
</div>
