<div class="box">
  <h2 class="title">Kingdoms</h2>
  <div class="box-copy">
    {{#each obj as |kingdom|}}
      <div class="row">
        <a href="/{{kingdom.name}}">{{kingdom.name}}</a>
        <h5>King: {{kingdom.king}}</h5>
        <h5>Queen: {{kingdom.queen}}</h5>
      </div>
    {{/each}}
  </div>
</div>

<div class="box">
  <h2 class="title">Add a Kingdom</h2>
  <div class="box-copy">
    <form action="/kingdom" method="POST">
      <input type="text" name="kingdom" placeholder="Kingdom Name">
      <input type="text" name="king" placeholder="Kings Name">
      <input type="text" name="queen" placeholder="Queens name">
      <input type="submit" value="Add New Kingdom" method="post">
    </form>
  </div>
</div>
