<h1>"Liege"</h1>
  <div class="liege">
  <div class="ID">{{liege.id}}</div>
  <div class="Name">{{liege.name}}</div>
<h2>"Vassals"</h2>
  {{#each vassals as |vassal|}}
    <div class="vassalid">{{vassal.id}}</div>
    <div class="vassalName">{{vassal.name}}</div>
  {{/each}}
</div>
