<section class="container">
  <div class="row">
    <h1>Welcome to the page of liege: {{liege.name}}!</h1>
    <h3>Vassals</h3>
    {{#each liege.vassals as |vassal|}}
      <div>{{vassal}}</div>
    {{/each}}
  </div>
  </secion>
