<h2 class="col-xs-12">Kingdoms</h2>
{{#each entities as |entity|}}
<h3 class="col-xs-12">{{entity.name}}</h3>
{{>entity entity=entity realm=true gcType=../gcType}} {{/each}} {{>new type='Kingdom' path='/'}}
