<div class="box">
  <h2 class="title">{{castle}}</h2>
  <div class="box-copy">
    {{#each obj as |leige|}}
      <div class="row">
        <a href="/{{leige.name}}">{{leige.name}}</a>
        {{#each leige.vassal as |vassal|}}
        <h5>{{vassal.name}}</h5>
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>

<div class="box">
  <h2 class="title">Add a Leige</h2>
  <div class="box-copy">
    <form action="/liege" method="POST">
      <input type="text" name="leige" placeholder="Leige Name">
      <input type="submit" value="Add New Liege" method="post">
    </form>
  </div>
</div>
