<div>
  {{kingdom}}
    <div>
      <div>
        {{castle}}
        <div>
          {{liege}}

          {{#each allVassals as |vassal|}}
            <div>
            {{vassal}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
