body {
	background-color: lightgrey;
	font-family: helvetica, sans-serif;
	color: black;
}

div {
	box-sizing: border-box;
}

.box {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	padding: 20px;
	margin-bottom: 20px;
	border: 1px solid black;
	border-radius: 5px;
}

input {
	padding: 10px;
	width: 90%;
	margin: 5px;
	border-radius: 5px;
}

input[type="submit"] {
	padding: 10px;
}

a {
	text-decoration: none;
	font-weight: bold;
}

form {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
