{{#each kingdoms as |kingdom|}}
  {{kingdom.name}}
{{/each}}

<form action="/" method="POST">
  <label for="name"></label>
  <input id="name" type="text" name="name">
  <label for="king"></label>
  <input id="king" type="text" name="king">
  <label for="queen"></label>
  <input id="queen" type="text" name="queen">
  <input type="submit">
</form>
