<section>
  <h2>Create Thine Kingdom:</h2>
  <form action="/" method="POST">
    <label for="name">Thy Kingdom's Name:</label>
    <input id="name" type="text" name="name">
    <label for="king">Thy King:</label>
    <input id="king" type="text" name="king">
    <label for="queen">Thy Queen:</label>
    <input id="queen" type="text" name="queen">
    <input type="submit">
  </form>
</section>

<section>
  <h2>Our Kingdoms:</h2>
  <ul>
    {{#each kingdoms as |kingdom|}}
      <li class="item">
        <a href="{{ kingdom.name }}">
          {{ kingdom.name }}
        </a>
      </li>
    {{/each}}
  </ul>
</section>
