<section>
  </h2>Welcome to the glorious kingdom of {{ kingdom.name }}!</h2>

  <div class="details">
    We are ruled by his majesty, King {{ kingdom.king }}, and Queen {{ kingdom.queen }} at his side.
  </div>
</section>
