<div class="box">
  <h2 class="title">My Leige {{leige}} in castle {{castle}} from {{kingdom}}</h2>
  <div class="box-copy">
    {{#each vassals as |vassal|}}
      <div class="row">
        {{vassal}}
      </div>
    {{/each}}
  </div>
</div>

<div class="box">
  <h2 class="title">Add a Vassal</h2>
  <div class="box-copy">
    <form action="/vassal" method="POST">
      <input type="text" name="vassal" placeholder="Vassal Name">
      <input type="submit" value="Add New Vassal" method="post">
    </form>
  </div>
</div>
